
{% extends "base.html" %}
{% block content %}
<!-- content -->
<div class="container content">
    <div class="jumbotron">
        <h1 class="display-3">Lematizador v0.8</h1>
        <p class="lead">
            Lematizador para español usando Python + Spacy + Flask + jQuery (<a href="https://github.com/pistolilla/lematizador" target="_blank">ver código fuente</a>)
        <br/>por Leopoldo Varela</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-info btn-lg" href="https://documenter.getpostman.com/view/7780376/SzfB1728" target="_blank" role="button">Ver guía para API</a>
        </p>
    </div>
</div>
<script type="application/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}